<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>785247232651-d70eg01vcvef8sc2embl6n9ruov12krm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.785247232651-d70eg01vcvef8sc2embl6n9ruov12krm</string>
	<key>API_KEY</key>
	<string>AIzaSyDFp6TS_u0yiN9R0bm7429Rua_2LBFOBTU</string>
	<key>GCM_SENDER_ID</key>
	<string>785247232651</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kadewhitman.scavengerhunt</string>
	<key>PROJECT_ID</key>
	<string>testproject-59bac</string>
	<key>STORAGE_BUCKET</key>
	<string>testproject-59bac.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:785247232651:ios:2aecbc91945445bfb2ea8e</string>
</dict>
</plist>